<template>
    <v-container grid-list-xl>

        <v-layout align-content-space-between column fill-height>
            <v-layout d-block mt-4>
                <h2 class="display-2"> Wohoo Andre!</h2>
                <h3 class="headline text-uppercase" >Who is design for?</h3>
            </v-layout>

            <v-layout justify-space-around wrap>
                <v-flex xs10 md3 d-block>
                    <v-card
                        color="grey lighten-3"
                        height="300"
                        @click="$emit('change', 'chooseCategory')"
                    >
                        <v-icon
                            color="black"
                            size="200"
                            @click="$emit('change', 'chooseCategory')"
                        >
                            account_box
                        </v-icon>

                        <h4 class="text-uppercase headline">Just me</h4>
                    </v-card>

                </v-flex>
                <v-flex xs10 md3 d-block>
                    <v-card
                        color="grey lighten-3"
                        height="300"
                        @click="$emit('change', 'chooseCategory')"
                    >
                        <v-icon
                            color="black"
                            size="200"
                            @click="$emit('change', 'chooseCategory')"
                        >
                            card_giftcard
                        </v-icon>

                        <h4 class="text-uppercase headline">Someone else</h4>
                    </v-card>
                </v-flex>
            </v-layout>

            <v-spacer></v-spacer>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    name: 'DialogBigContentForWho'
};
</script>
