
<template>
    <v-dialog
        v-model="visible"
        persistent
    >
        <v-card height="90%">
            <v-layout :style="{ height: 0 }" justify-end>
                <v-icon
                    x-large
                    @click="$emit('close')"
                >
                    close
                </v-icon>
            </v-layout>

            <slot></slot>

        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'DialogBig',
    props: [ 'visible' ],
    created() {
        console.log(this.visible);
    }
};
</script>
