<template>
    <div >
        <v-dialog
            v-model="visible"
            persistent
        >
            <v-card height="90vh">
                <v-layout :style="{ height: 0 }" justify-end>
                    <v-icon
                        x-large
                        @click="closeDialog"
                    >
                        close
                    </v-icon>
                </v-layout>

                <v-layout align-content-space-between column fill-height>

                    <v-layout d-block mt-4>
                        <h2 class="display-2"> Choose a Category</h2>
                        <h3 class="headline text-uppercase" >Who is design for?</h3>
                    </v-layout>

                    <v-layout justify-space-around>
                        <v-card
                            color="grey lighten-3"
                            width="500"
                            height="300"
                        >
                            <v-icon color="black" size="200">account_box</v-icon>

                            <h4 class="text-uppercase headline">Just me</h4>
                        </v-card>
                        <v-card
                            color="grey lighten-3"
                            width="500"
                            height="300"
                        >
                            <v-icon color="black" size="200">card_giftcard</v-icon>

                            <h4 class="text-uppercase headline">Someone else</h4>
                        </v-card>
                    </v-layout>
                    <v-spacer></v-spacer>

                </v-layout>

            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import * as HttpRequests from '../services/httpRequests';
export default {
    name: 'DialogChooseCategory',
    props: ['visible'],
    created() {
        // HttpRequests.getLogoCategories();
    },

    methods: {
    }
};
</script>
