<template>
    <v-layout align-content-space-between column fill-height>
        <v-layout d-block mt-4>
            <h2 class="display-2"> Choose a Category</h2>
            <h3 class="headline text-uppercase" >Who is design for?</h3>
        </v-layout>

        <v-layout justify-space-around>

            <v-card
                color="grey lighten-3"
                width="500"
                height="300"
            >
                <v-icon color="black" size="200">account_box</v-icon>

                <h4 class="text-uppercase headline">Just me</h4>
            </v-card>
            <v-card
                color="grey lighten-3"
                width="500"
                height="300"
            >
                <v-icon color="black" size="200">card_giftcard</v-icon>

                <h4 class="text-uppercase headline">Someone else</h4>
            </v-card>
        </v-layout>
        <v-spacer></v-spacer>
    </v-layout>
</template>
<script>
export default {
    name: 'DialogBigContentChooseCategory'
};
</script>
