<template>

    <div >
        <v-dialog
            v-model="props.visible"
            persistent
        >
            <v-card height="90vh">
                <v-layout :style="{ height: 0 }" justify-end>
                    <v-icon
                        x-large
                        @click="closeDialog"
                    >
                        close
                    </v-icon>
                </v-layout>

                <v-layout align-content-space-between column fill-height>

                    <v-layout d-block mt-4>
                        <h2 class="display-2"> Wohoo Andre!</h2>
                        <h3 class="headline text-uppercase" >Who is design for?</h3>
                    </v-layout>

                    <v-layout justify-space-around>
                        <v-card
                            color="grey lighten-3"
                            width="500"
                            height="300"
                        >
                            <v-icon color="black" size="200">account_box</v-icon>

                            <h4 class="text-uppercase headline">Just me</h4>
                        </v-card>
                        <v-card
                            color="grey lighten-3"
                            width="500"
                            height="300"
                        >
                            <v-icon color="black" size="200">card_giftcard</v-icon>

                            <h4 class="text-uppercase headline">Someone else</h4>
                        </v-card>
                    </v-layout>
                    <v-spacer></v-spacer>
                    <v-layout justify-end align-end >
                        <v-icon x-large>notifications_active</v-icon>
                    </v-layout>
                </v-layout>

            </v-card>
        </v-dialog>
    </div>
</template>
<script>
export default {
    name: 'DialogForWho',
    props: ['visible'],
    data() {
        return {
            dialog: false
        };
    },
    computed: {
        isShow() {
            console.log(this.$store.state.dialog.isShow);
            return this.$store.state.dialog.isShow;
        }
    },
    methods: {
        closeDialog() {
            this.$store.commit('closeDialog');
        },

        search(e) {
            // console.log(e);
            // e.stopPropagation();
            console.log('SEARCH');
            // this.$store.commit('showDialog');
        }
    }
};
</script>
