<template>
<div>
    <v-container>
        <img src="../assets/logo.png" alt="logo">
        <h3 class="display-1">Namedrop</h3>
        <h1 class="display-3">Personalization Made Simple</h1>
        <p class="headline">Over 96333661 Premium Design Custom Branded for You</p>
        <v-form v-model="valid">
            <v-layout row wrap>
                <v-flex xs10 offset-xs1 md8 offset-md2 >
                    <v-text-field
                        solo
                        v-model="name"
                        append-icon="search"
                        background-color="pink"
                        color="white"
                        dark
                        @click:append="search"
                    >
                    </v-text-field>
                </v-flex>

            </v-layout>
        </v-form >
        <dialog-big
            :visible="dialogVisible"
            @close="dialogVisible=false"
        >
            <dialog-big-content-for-who
                v-if="dialogContent === 'forWho'"
                @change-content="dialogContent = $event"
                @change="changeContent"
            >
            </dialog-big-content-for-who>
            <dialog-big-content-choose-category
                v-else
                :categories="categories"
            >
            </dialog-big-content-choose-category>
        </dialog-big>
    </v-container>
</div>
</template>
<script>
import DialogBig from './DialogBig';
import DialogBigContentForWho from './DialogBigContentForWho';
import DialogBigContentChooseCategory from './DialogBigContentChooseCategory';
import Header from './Header';
import * as HttpRequests from '../services/httpRequests';

export default {
    name: 'Greeting',
    components: {
        DialogBig,
        DialogBigContentChooseCategory,
        DialogBigContentForWho,
        Header
    },
    data() {
        return ({
            valid: false,
            name: '',
            dialogVisible: false,
            dialogContent: 'forWho',
            categories: []
        });
    },
    methods: {
        search(e) {
            console.log(e);
            e.stopPropagation();
            console.log('SEARCH');
            this.dialogVisible = true;
            this.dialogContent = 'forWho';
        },

        showDialogChooseCategory() {
            this.dialogChooseCategoryVisible = true;
        },

        changeContent(newContent) {
            this.dialogContent = newContent;
            HttpRequests.getLogoCategories()
                .then(result => {
                    console.log(result);
                    this.categories = result;
                })
                .catch(error => {
                    console.log(error);
                });
        }

    }
};
</script>
