<template>
    <v-toolbar>
        <v-spacer></v-spacer>
        <v-toolbar-items >
            <v-layout align-center>
                <v-icon large>favorite_border</v-icon>
                <v-icon large>shopping_cart</v-icon>
            </v-layout>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {
    name: 'Header'
};
</script>
