<template>
  <div id="app">
      <v-app>
        <router-view/>
      </v-app>
        <!-- <v-btn color="primary">ddd</v-btn> -->
  </div>
</template>

<script>
// import { authorization } from './services/httpRequests';
export default {
    name: 'App',
    created() {
        // authorization();
    }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
